[mysqld]
server-id=2
log-bin=mysql-bin
gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON
binlog_format=ROW
report_host=mysql-node2

# Group Replication settings
plugin_load_add=group_replication.so
group_replication_group_name=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
group_replication_start_on_boot=ON
group_replication_local_address=mysql-node2:33061
group_replication_group_seeds=mysql-node1:33061,mysql-node2:33061,mysql-node3:33061
group_replication_bootstrap_group=OFF
